@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap");
/*Sytling the whole app with these feautes*/
/*Will apply throughtout the whole page*/
.App {
  min-height: 100vh;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  background:white;
}

/* Mobile */
@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}
