/*Size of the faveicon*/
.large {
  font-size: 3rem;
  margin-right: 0.5rem;
}
/*Styling of the faveicon*/
.large {
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  background: black;
  border-radius: 100%;
}
